.App-header {
  text-align: center;
  margin: 20px;
}

.dropdown-menu {
  height: 400px;
  overflow: scroll;
}

.App-main {
  margin-left: 3%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
